.p-component {
    font-family: 'Ravi' !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: .5rem;
    text-align: right;
}

.p-column-filter-overlay {
    text-align: right;
}

.p-button.p-button-icon-only {
    width: var(--size-2rem);
    height: var(--size-2rem);
}

.p-dropdown-items {
    direction: rtl;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-dropdown-check-icon {
    position: relative;
    margin-right: -var(--size-05rem);
    margin-left: var(--size-05rem);
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    direction: ltr;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: right;
    padding: var(--size-05rem);
}

.p-column-filter-row {
    min-width: var(--size-7rem);
}

.p-column-filter p-inputtext,
.p-column-filter,
.p-inputtext p-component {
    font-size: var(--size-12px);
}

.p-inputtext p-component {
    height: 3.2rem;
}

.p-column-filter-clear-button {
    margin-left: 0;
    display: none;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background: var(--clr-1);
    color: var(--clr-4);
}

.table-icon {
    background: var(--clr-gray);
    color: var(--clr-white);
    padding: var(--size-05rem);
    border-radius: 50%;
}

.true-icon {
    color: var(--green-500);
}

.false-icon {
    color: var(--red-500);
}

.p-confirm-popup .p-confirm-popup-content {
    direction: rtl;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    border: 0;
    background: var(--clr-white);
    border-radius: 50px;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus-visible {
    box-shadow: none;
}

.p-accordion .p-accordion-tab {
    margin-bottom: 0;
    position: relative;
}

.p-accordion .p-accordion-content {
    border: 0;
}

#pr_id_1_header_0 {
    border-radius: 15px 15px 0 0;
    display: none;
}

#pr_id_1_header_1 {
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
}

.special {
    border: 0;
    background: var(--clr-white);
    border-radius: 0 0 15px 15px;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem;

    .p-accordion .p-accordion-header .p-accordion-header-link {
        background: none;
        border: 0;
    }

    // .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    //     border-radius: 0 0 50px 50px !important;
    // }

    // .p-accordion .p-accordion-content {
    //     border-radius: 0 0 15px 15px;
    // }

    .pi-angle-double-down,
    .pi-angle-double-up {
        font-size: 1.2rem;
        color: var(--clr-4);
        margin: auto;
        text-align: center;
        margin-left: -2.8rem;
    }

    .p-accordion-header-link {

        position: absolute;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
        width: 7rem;
        text-align: center;
        bottom: -2.5rem;
        background: white;
    }
}